about.html
{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to bookstore , About Page</h2>
				<p style="text-align: justify;">

       At <strong>BookNest</strong>, we are passionate about connecting readers with the perfect books.<br><br>
        Founded by book lovers, for book lovers, our mission is to make reading accessible, affordable, and enjoyable for everyone.<br><br>
        Whether you’re looking for the latest bestsellers, academic textbooks, or classic literature, our diverse collection has something for every reader.<br>
        We pride ourselves on fast delivery, excellent customer service, and a user-friendly shopping experience.<br><br>
        Thank you for choosing BookNest as your trusted reading companion. Together, let’s turn the pages to new adventures and knowledge.
    

				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Gmail</a></li>
					<li><a href="#">Linkedin</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li class="last"><a href="#">Google+</a></li>
				</ul>
			</div>
			
		</div>

		<br class="clearfix" />
	</div>
	<!-- page ends -->

    {% include 'footer.html' %}