{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to BookStore  , Contact Page</h2>
				<p style="text-align: justify;">
  We're here to help! Whether you have questions about your order, want to suggest a book, or need support, feel free to reach out.<br><br>

        <strong>Email:</strong> support@booknest.com<br>
        <strong>Phone:</strong> +1 (123) 456-7890<br>
        <strong>Address:</strong> BookNest HQ, 123 Reading Lane, Booktown, USA<br>
        <strong>Support Hours:</strong> Monday to Saturday, 9:00 AM – 6:00 PM<br><br>

        You can also send us a message directly using the form below:				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Gmail</a></li>
					<li><a href="#">Linkedin</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li class="last"><a href="#">Google+</a></li>
				</ul>
			</div>
			
		</div>

		<br class="clearfix" />
	</div>
	<!-- page ends -->

    {% include 'footer.html' %}