{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to BookStore , Home Page</h2>
				<p style="text-align: justify;">
 At <strong>BookNest</strong>, we bring the world of books right to your fingertips. Whether you're a student, a passionate reader, or just looking for your next great read, we have something for everyone.<br><br>
        Explore our wide collection of bestsellers, new releases, academic resources, and more — all at competitive prices and delivered straight to your door. Our user-friendly platform, fast shipping, and reliable customer support ensure a smooth and enjoyable book shopping experience.<br><br>
        📚 Discover books in categories like Fiction, Non-Fiction, Self-Help, Children’s Books, Competitive Exams, and Comics.<br>
        💡 Enjoy personalized recommendations, discounts, and early access to new titles by subscribing to our newsletter.<br>
        🛒 Shop smart, read more, and grow with BookNest – your trusted reading companion.
				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Gmail</a></li>
					<li><a href="#">Linkedin</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li class="last"><a href="#">Google+</a></li>
				</ul>
			</div>
			
		</div>

		<br class="clearfix" />
	</div>
	<!-- page ends -->

    {% include 'footer.html' %}